<!DOCTYPE html>
<html>
  <head>
    <title>TestJob</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Neuton:400,800" rel="stylesheet">
  </head>

  <body>
    <%= render partial: "/messages"%>
    <%= yield %>
  </body>
</html>
